# -----------------------------------
# author: @kiliantyler
# title: Windows Winget
# description: Installs Windows Applications via Winget
# -----------------------------------

# Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
# Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression
