{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.homebrew.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.formulas -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
