# Most of the time, we want to use the 1Password SSH agent
Host *
{{- if eq .chezmoi.os "windows" }}
  IdentityAgent "\\.\pipe\openssh-ssh-agent"
{{- else if eq .chezmoi.os "darwin" }}
  IdentityAgent "{{ .chezmoi.homeDir }}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
  IdentityAgent "{{ .chezmoi.homeDir }}/.1password/agent.sock"
{{- end }}
  AddKeysToAgent yes
