[commit]
  gpgsign = true

[tag]
  forceSignAnnotated = true

[credential]
  helper = store

[init]
  defaultBranch = main

[color]
  ui = true

[format]
  pretty = oneline

[core]
  autocrl = false
  fileMode = false
  editor = code --wait
  pager = delta

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[gpg]
  format = ssh

[gpg "ssh"]
  {{- if eq .chezmoi.os "windows" }}
  program = "{{.chezmoi.homeDir }}/AppData/Local/Microsoft/WindowsApps/op-ssh-sign.exe"
  {{- else }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  {{- end }}
  allowedSignersFile = {{.chezmoi.homeDir }}/.config/.gitconfig/allowed-signers

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[push]
  autoSetupRemote = true

[interactive]
  diffFilter = delta --color-only --features=interactive

[merge]
  conflictstyle = diff3
  tool = vscode
[mergetool "vscode"]
  cmd = cursor --wait $MERGED

[diff]
  colorMoved = default
  tool = vscode
[difftool "vscode"]
  cmd = cursor --wait --diff $LOCAL $REMOTE

[include]
  path = {{.chezmoi.homeDir }}/.config/.gitconfig/themes.gitconfig

[delta]
  pager = less
  navigate = true
  features = dracula unobtrusive-line-numbers decorations
  syntax-theme = Dracula
  side-by-side = true
  minus-style = red bold
  plus-style = green bold
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
  whitespace-error-style = 22 reverse

[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

[delta "decorations"]
  git-moved-from-style = bold purple
  map-styles = bold purple => syntax magenta, bold cyan => syntax blue
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[user]
  name = Kilian Tyler

[include]
  path = {{.chezmoi.homeDir }}/.config/.gitconfig/personal.gitconfig
