[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal (kitty)
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/ktyler/.local/kitty.app/bin/kitty
StartupNotify=true
Exec=/home/ktyler/.local/kitty.app/bin/kitty
Icon={{ .chezmoi.homeDir }}/.local/share/icons/kitty/dracula.png
Categories=System;TerminalEmulator;
