#!/usr/bin/env zsh
# -*- mode: zsh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# vim: ft=zsh sw=2 ts=2 et
{{- /*
              $$\                           $$\       $$\                 $$\
              $$ |                          $$ |      \__|                $$ |
    $$$$$$$$\ $$ |  $$\  $$$$$$\  $$\   $$\ $$$$$$$\  $$\ $$$$$$$\   $$$$$$$ | $$$$$$$\
    \____$$  |$$ | $$  |$$  __$$\ $$ |  $$ |$$  __$$\ $$ |$$  __$$\ $$  __$$ |$$  _____|
      $$$$ _/ $$$$$$  / $$$$$$$$ |$$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$ /  $$ |\$$$$$$\
     $$  _/   $$  _$$<  $$   ____|$$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$ |  $$ | \____$$\
$$\ $$$$$$$$\ $$ | \$$\ \$$$$$$$\ \$$$$$$$ |$$$$$$$  |$$ |$$ |  $$ |\$$$$$$$ |$$$$$$$  |
\__|\________|\__|  \__| \_______| \____$$ |\_______/ \__|\__|  \__| \_______|\_______/
                                  $$\   $$ |
                                  \$$$$$$  |
                                   \______/
TODO: Add description
Reference: https://zsh.sourceforge.io/Doc/Release/User-Contributions.html#Keyboard-Definition
*/}}

"^A" beginning-of-line
"^E" end-of-line
"^H" backward-delete-char
"^K" kill-line
"^L" clear-screen
"^R" history-incremental-search-backward
"^S" history-incremental-search-forward
"^U" kill-whole-line
"^V" quoted-insert
"^[b" backward-word
"^[f" forward-word
"^[q" push-line
"^[x" execute-named-cmd
"^?" backward-delete-char
