#!/usr/bin/env zsh
# -*- mode: zsh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# vim: ft=zsh sw=2 ts=2 et
{{/*
                        $$\
                        $$ |
    $$$$$$$$\  $$$$$$$\ $$$$$$$\   $$$$$$\  $$$$$$$\ $$\    $$\
    \____$$  |$$  _____|$$  __$$\ $$  __$$\ $$  __$$\\$$\  $$  |
      $$$$ _/ \$$$$$$\  $$ |  $$ |$$$$$$$$ |$$ |  $$ |\$$\$$  /
     $$  _/    \____$$\ $$ |  $$ |$$   ____|$$ |  $$ | \$$$  /
$$\ $$$$$$$$\ $$$$$$$  |$$ |  $$ |\$$$$$$$\ $$ |  $$ |  \$  /
\__|\________|\_______/ \__|  \__| \_______|\__|  \__|   \_/

##? .zshenv - Zsh environment file for user-specific settings
## Scope: User specific
## Location: $ZDOTDIR/.zshenv
*/}}

# Age encryption via sops (https://github.com/getsops/sops)
export SOPS_AGE_KEY_FILE="${HOME}/.config/sops/age/keys.txt"
export SOPS_AGE_RECIPIENT="age1tk7tw0625mspavxe8lvv348p58ydqw6r04sxcjq76m98nan2lsnq3dhvxd"

# Plugins
_ZO_CMD_PREFIX="cd"
_ZO_DATA_DIR="${XDG_DATA_HOME}"
