#!/usr/bin/env zsh
# -*- mode: zsh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# vim: ft=zsh sw=2 ts=2 et
{{- /*
                                   $$\
                                   $$ |
    $$$$$$$$\  $$$$$$\   $$$$$$\ $$$$$$\    $$$$$$$\
    \____$$  |$$  __$$\ $$  __$$\\_$$  _|  $$  _____|
      $$$$ _/ $$ /  $$ |$$ /  $$ | $$ |    \$$$$$$\
     $$  _/   $$ |  $$ |$$ |  $$ | $$ |$$\  \____$$\
$$\ $$$$$$$$\ \$$$$$$  |$$$$$$$  | \$$$$  |$$$$$$$  |
\__|\________| \______/ $$  ____/   \____/ \_______/
                        $$ |
                        $$ |
                        \__|

.zopts - Z-Shell Options
Scope: TODO: Add scope
Location: $ZDOTDIR/.zopts
Reference: https://zsh.sourceforge.io/Doc/Release/Options.html
Description:
> TODO: Add description
*/ -}}

# 4. ZSH Options [[[

  # 4.1. Parameters and Shell Functionality [[[
    setopt hashlistall    # hash all commands
    setopt ignoreeof		  # ignore EOF ('^D') (i.e. don't log out on it)
    setopt localoptions   # set local options
    setopt multibyte      # enable multibyte characters
    setopt noflowcontrol  # disable flow control (^S/^Q)
    setopt noglobalexport	# don't be backwards compatible
    setopt noshwordsplit  # use zsh style word splitting
  # ]]]

  # 4.2. Changing Directories [[[
    setopt autocd			     # automatically cd to a directory if not cmd
    setopt autopushd		   # automatically pushd directories on dirstack
    setopt pushdignoredups # don't push dups on stack
    setopt pushdsilent		 # be quiet about pushds and popds
  # ]]]

  # 4.3. Shell Completion [[[
    setopt autolist        # list completions
    setopt completeinword	 # complete inside words
    setopt nolistambiguous # only list matches if ambiguous
    setopt nolistbeep      # don't beep on ambiguous listings
  # ]]]

  # 4.4. Shell Expansion and Globbing [[[
    setopt extendedglob		# don't use extended globbing (#, ~, ^)
    setopt noequals       # don't expand =cmd
  # ]]]

  # 4.5. History and History Expansion [[[
    setopt appendhistory       # append history to history file
    setopt extendedhistory		 # save timestamps in history
    setopt histexpiredupsfirst # expire duplicates first when trimming history
    setopt histfindnodups      # don't display duplicates when searching history
    setopt histignorealldups	 # don't ignore dups in history
    setopt histignoredups		   # ignore consecutive dups in history
    setopt histignorespace     # ignore commands starting with space
    setopt histnostore		     # don't store history related functions
    setopt histreduceblanks    # remove leading blanks from history
    setopt histsavenodups      # don't save duplicates in history
    setopt histverify          # verify history before execution
    setopt nohistbeep		       # don't beep for erroneous history expansions
    setopt sharehistory        # share history between sessions
  # ]]]

  # 4.6. Job Control [[[
    setopt longlistjobs	# list jobs in long format
    setopt nonotify			# report job status only before prompt printing
  # ]]]

  # 4.7. Shell Prompt [[[
    setopt interactivecomments # allow comments in interactive shell
    setopt nonomatch           # don't throw error if no match
    setopt promptsubst		     # allow paramater, command, so on in prompt
    setopt unset               # don't error on unset variables
  # ]]]

  # 4.8. ZLE [[[
    setopt alwaystoend # always move cursor to end of line
    setopt nobeep			 # don't beep on errors (in ZLE)
  # ]]]

  # 4.9. Input and Output [[[
    setopt noflowcontrol		# don't use flow control (^S/^Q)
    setopt printeightbit		# allow eight bit output for completion lists
  # ]]]

# ]]]

{{- /*
HISTFILE=~/.zhistory
SAVEHIST=1048576
HISTSIZE=1048576

REPORTTIME=5
REPORTMEMORY=1048576
TIMEFMT="%J: %E elapsed (%U user + %S system = %P CPU); %Mk Maximum RSS"


# * Completion
autoload -Uz compinit && compinit

zstyle ':completion:*' list-colors "${LS_COLORS}"
zstyle ':completion:*' max-errors
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle ':completion:*' use-cache true
zstyle ':completion:*' ignore-parents pwd
*/ -}}
