#!/usr/bin/env zsh
# -*- mode: zsh; sh-indentation: 2; indent-tabs-mode: nil; sh-basic-offset: 2; -*-
# vim: ft=zsh sw=2 ts=2 et
{{- /*
              $$\                           $$\       $$\                 $$\
              $$ |                          $$ |      \__|                $$ |
    $$$$$$$$\ $$ |  $$\  $$$$$$\  $$\   $$\ $$$$$$$\  $$\ $$$$$$$\   $$$$$$$ | $$$$$$$\
    \____$$  |$$ | $$  |$$  __$$\ $$ |  $$ |$$  __$$\ $$ |$$  __$$\ $$  __$$ |$$  _____|
      $$$$ _/ $$$$$$  / $$$$$$$$ |$$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$ /  $$ |\$$$$$$\
     $$  _/   $$  _$$<  $$   ____|$$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$ |  $$ | \____$$\
$$\ $$$$$$$$\ $$ | \$$\ \$$$$$$$\ \$$$$$$$ |$$$$$$$  |$$ |$$ |  $$ |\$$$$$$$ |$$$$$$$  |
\__|\________|\__|  \__| \_______| \____$$ |\_______/ \__|\__|  \__| \_______|\_______/
                                  $$\   $$ |
                                  \$$$$$$  |
                                   \______/
TODO: Add description

*/}}
