# -----------------------------------
# author: @kiliantyler
# title: Decrypt Age Key
# description: Decrypts the Age key used by chezmoi
# -----------------------------------

{{- if eq .chezmoi.os "windows" -}}
$KeyPath = "$HOME\.config\chezmoi\key.txt"

if (-Not (Test-Path $KeyPath)) {
    $ConfigDir = "$HOME\.config\chezmoi"
    New-Item -ItemType Directory -Force -Path $ConfigDir

    & "$HOME\.local\bin\chezmoi" age decrypt --output $KeyPath --passphrase "{{ .chezmoi.sourceDir }}\key.txt.age"

    icacls $KeyPath /inheritance:r /grant:r "$($env:USERNAME):(R,W)" /c
}
{{- end }}
