#!/usr/bin/env bash

# -----------------------------------
# author: @kiliantyler
# title: Install Programs
# description: Install programs used by the rest of the dotfiles
# -----------------------------------

# -----------------------------------
# Xcode Command Line Tools
# -----------------------------------

{{ if eq .chezmoi.os "darwin" -}}
# Check if Xcode Command Line Tools are installed
if ! xcode-select -p &> /dev/null; then
  echo "Installing Xcode Command Line Tools..."
  xcode-select --install
fi
{{- end }}

# -----------------------------------
# Rosetta
# -----------------------------------

{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
# Check if Rosetta is installed
if ! pkgutil --pkg-info com.apple.pkg.RosettaUpdateAuto >/dev/null 2>&1; then
  echo "Installing Rosetta..."
  softwareupdate --install-rosetta
fi
{{- end }}

# -----------------------------------
# Homebrew
# -----------------------------------

{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
# Check if Homebrew is installed
if ! command -v brew &> /dev/null; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
{{- end }}

# -----------------------------------
# asdf
# -----------------------------------

# Install asdf

{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
# Check if asdf is installed
if [[ ! -d ~/.asdf ]]; then
  # TODO: Renovate this version
  asdfVersion="0.14.0"
  echo "Installing asdf..."
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v${asdfVersion}
fi

# Add asdf to shell

if ! command -v asdf &> /dev/null; then
  echo "Adding asdf to shell..."
  source ~/.asdf/asdf.sh
fi

# Add asdf plugin manager

if ! asdf plugin-list | grep -q "asdf-plugin-manager"; then
  # TODO: Renovate this version
  asdfPluginManagerVersion="1.3.1"
  echo "Adding asdf plugin manager..."
  asdf plugin add asdf-plugin-manager https://github.com/asdf-community/asdf-plugin-manager.git
  asdf plugin update asdf-plugin-manager v${asdfPluginManagerVersion}
  asdf install asdf-plugin-manager ${asdfPluginManagerVersion}
  asdf global asdf-plugin-manager ${asdfPluginManagerVersion}
fi
{{- end }}

# -----------------------------------
# comtrya
# -----------------------------------

{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
BIN_LOCATION="{{ .chezmoi.homeDir }}/.bin"
if [[ ! -d $BIN_LOCATION ]]; then
  mkdir -p $BIN_LOCATION
fi
COMTRYA_BINARY=comtrya
COMTRYA_FILE=${BIN_LOCATION}/${COMTRYA_BINARY}
# Check if comtrya is installed
if [[ ! -f $COMTRYA_FILE ]]; then
  echo "Installing comtrya..."
  OWNER=comtrya
  REPO=comtrya

  COMTRYA_VERSION=$(curl -sI https://github.com/$OWNER/$REPO/releases/${VERSION:=latest} | grep -i "location:" | awk -F"/" '{ printf "%s", $NF }' | tr -d '\r')
  {{ if eq .chezmoi.arch "arm64" -}}
    COMTRYA_ARCH_SUFFIX="-aarch64"
  {{- else -}}
    COMTRYA_ARCH_SUFFIX="-x86_64"
  {{- end }}
  {{ if eq .chezmoi.os "darwin" -}}
    COMTRYA_OS_SUFFIX="-apple-darwin"
  {{- else -}}
    COMTRYA_OS_SUFFIX="-unknown-linux-gnu"
  {{- end }}
  COMTRYA_SUFFIX="${COMTRYA_ARCH_SUFFIX}${COMTRYA_OS_SUFFIX}"
  COMTRYA_URL=https://github.com/$OWNER/$REPO/releases/download/$COMTRYA_VERSION/${COMTRYA_BINARY}${COMTRYA_SUFFIX}
  curl -sSL $COMTRYA_URL --output "$COMTRYA_FILE"
  chmod +x $COMTRYA_FILE
fi
{{- end }}