{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh
{{- else if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
{{- end}}

# -----------------------------------
# author: @kiliantyler
# title: Ansible Setup
# description: Installs and runs Ansible
# -----------------------------------

cd {{ .chezmoi.config.sourceDir }}/ansible

# TODO: Change to Chezmoi variable
__PYTHON_LOC=/usr/bin/python3

curl -fsSL https://bootstrap.pypa.io/get-pip.py -o get-pip.py
${__PYTHON_LOC} get-pip.py
command rm -rf git-pip.py

# Use default python to install ansible and requirements
${__PYTHON_LOC} -m pip install --user -r requirements.txt

# Install Ansible Galaxy
${__PYTHON_LOC} -m ansible galaxy install -r requirements.yaml

# Run Ansible Playbook
${__PYTHON_LOC} -m ansible playbook ./playbooks/playbook.yaml
