{{/* Separate runonces for each OS */}}
{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

{{/* Debian based OSes only */}}
{{ if eq .osid "linux-debian" -}}

{{/* Add universe apt repo */}}
sudo add-apt-repository universe -y

sudo apt-get update

{{- /* End Debian */ -}}
{{- end -}}

{{- /* End Linux */ -}}
{{- end -}}
