{{- if ne .chezmoi.os "windows" -}}
{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh
{{- else if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
{{- end}}

# -----------------------------------
# author: @kiliantyler
# title: Ansible Setup
# description: Installs and runs Ansible
# -----------------------------------

cd {{ .chezmoi.workingTree }}/ansible

# TODO: Change to Chezmoi variable
__PYTHON_LOC=/usr/bin/python3

tmpdir=$(mktemp -d)

curl -fsSL https://bootstrap.pypa.io/get-pip.py -o ${tmpdir}/get-pip.py
${__PYTHON_LOC} ${tmpdir}/get-pip.py
rm -rf ${tmpdir}

# Use default python to install ansible and requirements
${__PYTHON_LOC} -m pip install --user -r requirements.txt

# Install Ansible Galaxy
${__PYTHON_LOC} -m ansible galaxy install -r requirements.yaml

# Run Ansible Playbook
${__PYTHON_LOC} -m ansible playbook ./playbooks/playbook.yaml --ask-become-pass
{{- end -}}
